.footer__button, .follow__link, .filter__list, .clients__list .clients__item, .section.section__team .team__list .buttons__link, .section .possibilities__list .possibilities__background, .backdrop .modal .close__button, .header .container__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.71;
  font-size: 14px;
  min-width: 480px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  body {
    min-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    min-width: 1200px;
  }
}

.logo {
  color: #2196F3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;
}

.web {
  color: #2196F3;
}

.studio {
  color: #000000;
}

.footer-studio {
  color: #F5F4FA;
}

.title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
}

.container {
  width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #eee;
}
.header .container__header {
  height: 60px;
}
@media screen and (min-width: 768px) {
  .header .container__header {
    height: 80px;
  }
}
.header .container__header .nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header .container__header .nav {
    display: contents;
  }
}
.header .container__header .nav__list {
  color: #212121;
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media screen and (min-width: 768px) {
  .header .container__header .nav__list {
    margin-left: 93px;
  }
}
.header .container__header .nav__item {
  display: flex;
  position: relative;
}
.header .container__header .nav__link {
  color: #000000;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header .container__header .nav__link:focus,
.header .container__header .nav__link:hover {
  color: #2196F3;
}
.header .container__header .nav__link::after {
  content: "";
  position: absolute;
  top: 56px;
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .header .container__header .nav__link::after {
    top: 49px;
  }
}
.header .container__header .nav__link:hover::after {
  opacity: 1;
}
.header .container__header #studio {
  color: #2196F3;
}
.header .container__header #studio::after {
  content: "";
  position: absolute;
  top: 56px;
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .header .container__header #studio::after {
    top: 49px;
  }
}
.header .container__header #portfolio {
  color: #2196F3;
}
.header .container__header #portfolio::after {
  content: "";
  position: absolute;
  top: 56px;
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .header .container__header #portfolio::after {
    top: 49px;
  }
}
.header .container__header .contacts__list {
  color: #757575;
  margin-left: auto;
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media screen and (min-width: 768px) {
  .header .container__header .contacts__list {
    flex-wrap: wrap;
    margin-left: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .header .container__header .contacts__list {
    -moz-column-gap: 30px;
         column-gap: 30px;
    margin-left: 315px;
  }
}
.header .container__header .contacts-item {
  display: flex;
}
.header .container__header .contacts__link {
  display: none;
  align-items: center;
  color: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header .container__header .contacts__link {
    display: flex;
  }
}
.header .container__header .contacts__link:focus,
.header .container__header .contacts__link:hover {
  color: #2196F3;
}
.header .container__header .contacts__icon {
  margin-right: 10px;
  fill: #757575;
}
.header .container__header .contacts__link:hover .contacts__icon {
  fill: #2196F3;
}

.hero {
  background-color: #2F303A;
  background-image: url(../images/owetlay.png), url(../images/mobil-hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 118px 0;
  max-width: 1600px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../images/owetlay.png), url(../images/tablet_hero_bgi.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: url(../images/owetlay.png), url(../images/backgroun-img.jpg);
    padding: 200px 0;
  }
}

.hero__title {
  color: #ffffff;
  min-width: 360px;
  margin: 0 auto 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 162%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
  }
}

.hero__button {
  display: block;
  margin: 0 auto;
  padding: 10px 24px;
  border: none;
  border-radius: 4px;
  background-color: #2196F3;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  animation-name: sausage;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  width: 450px;
  background-color: #ffffff;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  transition: transform 2000ms cubic-bezier(0.4, 0, 0.2, 1), opacity 2000ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
@media screen and (min-width: 1200px) {
  .backdrop .modal {
    width: 528px;
  }
}
.backdrop .modal .close__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.backdrop .modal .close__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop .modal .close__icon:hover {
  fill: #2196F3;
}
.backdrop .modal .modal__text {
  margin: 0 auto;
  width: 370px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  padding-top: 40px;
  text-align: center;
  fill: #212121;
}
.backdrop .modal .modal__filed {
  margin-top: 12px;
  margin-left: 40px;
  margin-right: 40px;
}
.backdrop .modal .modal__label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}
.backdrop .modal .input__container {
  position: relative;
}
.backdrop .modal .modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 370px;
  height: 40px;
  padding-left: 38px;
  transition-property: outline border fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .backdrop .modal .modal__input {
    width: 448px;
  }
}
.backdrop .modal .modal__input:focus {
  outline: 1px solid #2196F3;
  border: 1px solid #2196F3;
}
.backdrop .modal .modal__input:hover {
  outline: 1px solid #2196F3;
  border: 1px solid #2196F3;
}
.backdrop .modal .modal__input:hover ~ .modal__icon {
  fill: #2196F3;
}
.backdrop .modal .modal__input:focus ~ .modal__icon {
  fill: #2196F3;
}
.backdrop .modal .modal__icon {
  position: absolute;
  top: 14px;
  left: 15px;
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop .modal .modal__comment {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 370px;
  height: 120px;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  transition-property: outline border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .backdrop .modal .modal__comment {
    width: 448px;
  }
}
.backdrop .modal .modal__comment:focus {
  outline: 1px solid #2196F3;
  border: 1px solid #2196F3;
}
.backdrop .modal .modal__comment:hover {
  outline: 1px solid #2196F3;
  border: 1px solid #2196F3;
}
.backdrop .modal .modal__button {
  background-color: #2196F3;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: none;
  border-radius: 4px;
  padding: 10px 52px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  margin-top: 30px;
  margin-bottom: 40px;
}
.backdrop .modal .modal__checkbox {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  margin-top: 12px;
  text-align: center;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .backdrop .modal .modal__checkbox {
    font-size: 14px;
  }
}
.backdrop .modal .checkbox__link {
  color: #2196F3;
  text-decoration: underline;
}
.backdrop .modal .input__checkbox:checked {
  background-color: #2196F3;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.section {
  padding: 60px 0 30px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
.section .possibilities__title--display {
  display: none;
}
.section .possibilities__list {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.section .possibilities__list .possibilities__item {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 90px) / 4);
  margin-bottom: 30px;
}
.section .possibilities__list .possibilities__background {
  border-radius: 4px;
  width: 450px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .section .possibilities__list .possibilities__background {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .section .possibilities__list .possibilities__background {
    width: 270px;
  }
}
.section .possibilities__list .possibilities__title {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .section .possibilities__list .possibilities__title {
    margin: 0;
    height: 16px;
  }
}
.section .possibilities__list .possibilities__text {
  margin-top: 10px;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  width: 450px;
}
@media screen and (min-width: 768px) {
  .section .possibilities__list .possibilities__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .section .possibilities__list .possibilities__text {
    width: 270px;
  }
}

.features__section {
  display: none;
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .features__section {
    display: block;
  }
}

.features__title {
  display: none;
}
@media screen and (min-width: 1200px) {
  .features__title {
    display: block;
  }
}

.features__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.features__list .features__item {
  display: flex;
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}
.features__list .features__item .features__text {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #F5F4FA;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.section.section__team {
  background-color: #F5F4FA;
}
.section.section__team .team__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media screen and (min-width: 1200px) {
  .section.section__team .team__list {
    flex-wrap: nowrap;
  }
}
.section.section__team .team__list .team__item {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 90px) / 4);
  background-color: #ffffff;
  margin-bottom: 30px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.section.section__team .team__list .team__img {
  width: 450px;
  height: 460px;
}
@media screen and (min-width: 768px) {
  .section.section__team .team__list .team__img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .section.section__team .team__list .team__img {
    width: 270px;
    height: 260px;
  }
}
.section.section__team .team__list .team__container {
  padding: 30px 122px 24px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .section.section__team .team__list .team__container {
    padding: 30px 74px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .section.section__team .team__list .team__container {
    padding: 30px 32px 24px;
  }
}
.section.section__team .team__list .team__name {
  color: #2F303A;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0 auto 10px;
}
.section.section__team .team__list .team__text {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0 auto;
}
.section.section__team .team__list .buttons__link {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition-property: background-color fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section.section__team .team__list .buttons__link:hover {
  background-color: #2196F3;
}
.section.section__team .team__list .buttons__link:hover .buttons__image {
  fill: #F5F4FA;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section.section__team .team__list .buttons__list {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 16px;
}
.section.section__team .team__list .buttons__list {
  flex-basis: calc((100% - 30px) / 4);
}
.section.section__team .team__list .buttons__image {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.clients__list .clients__item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  flex-basis: calc((100% - 30px) / 2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .clients__list .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__list .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.clients__list .clients__item .clients__image {
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__list .clients__item:hover {
  border: 1px solid #2196F3;
}
.clients__list .clients__item:hover .clients__image {
  fill: #2196F3;
}

.filter__tittle {
  display: none;
}

.filter-section {
  padding: 94px 0 34px;
}

.filter__list {
  margin-bottom: 34px;
  -moz-column-gap: 8px;
       column-gap: 8px;
}

.filter__button {
  background-color: #F5F4FA;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:focus,
.filter__button:hover {
  background-color: #2196F3;
  color: #F5F4FA;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.gallery {
  padding: 94px 0 34px 0;
}

.portfolio__title {
  display: none;
}

.gallery__list {
  margin-bottom: 94px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery__item {
  outline: 1px solid #eee;
  flex-basis: calc((100% - 60px) / 3);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__item:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.window__container {
  position: relative;
  overflow: hidden;
}

.window__img {
  width: 100%;
  height: 100%;
}

.window__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #eee;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.window__container:hover .window__text {
  transform: translate(0);
}

.gallery__title {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin: 20px 24px 4px;
}

.gallery__text {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  margin: 0px 24px 20px;
}

.footer {
  background-color: #2F303A;
  padding: 60px 0;
}

.footer__position {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 60px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .footer__position {
    -moz-column-gap: 165px;
         column-gap: 165px;
  }
}
@media screen and (min-width: 768px) {
  .footer__position {
    flex-direction: row;
    align-items: normal;
  }
}
@media screen and (min-width: 1200px) {
  .footer__position {
    flex-wrap: nowrap;
  }
}

.footer__part {
  flex-basis: calc((100% - 165px) / 2);
}
@media screen and (min-width: 1200px) {
  .footer__part {
    flex-basis: calc((100% - 140px) / 3);
  }
}

.hero__footer {
  font-style: normal;
  display: flex;
}
@media screen and (min-width: 768px) {
  .hero__footer {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .hero__footer {
    justify-content: left;
  }
}

.footer__logo {
  display: block;
  justify-content: center;
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    text-align: left;
  }
}

.footer__list {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__list {
    text-align: left;
  }
}

.footer__text {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.71;
  text-align: center;
  margin-top: 8px;
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: left;
  }
}

.follow__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .follow__list {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .follow__list {
    justify-content: left;
    flex-wrap: nowrap;
  }
}

.follow__item {
  flex-basis: calc((100% - 30x) / 4);
}

.follow__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.follow__link:hover {
  background-color: #2196F3;
}

.follow__image {
  fill: #F5F4FA;
  width: 20px;
  height: 20px;
}

.footer__part:nth-child(3) {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .footer__part:nth-child(3) {
    display: block;
  }
}

.input__container--btn {
  display: flex;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .input__container--btn {
    display: block;
  }
}

.footer__label {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__label {
    text-align: left;
  }
}

.footer__input {
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 450px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.6);
  padding: 15px;
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
  }
}

.footer__button {
  margin: 0 auto;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .footer__button {
    margin-left: 12px;
  }
}

.footer__icon {
  margin-left: 12px;
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=main.css.map */