    $color-light: #ffffff;
    $color-dark: #000000;
    $color-font-title: #212121;
    $color-font-text: #757575;
    $color-font-active: #2196F3;
    $color-border: #eee;
    $color-border-rc: #afb1b8;

    $color-background-dark: #2F303A;
    $color-background-light: #F5F4FA;
    $color-footer-link: rgba(255, 255, 255, 0.1);

    $font-family: "Roboto",
        sans-serif;
    $second-family: "Raleway",
        sans-serif;