.header {
    border-bottom: 1px solid $color-border;

    .container__header {
        @extend %flex;
        height: 60px;



        @media screen and (min-width:768px) {
            height: 80px;
        }

        .nav {

            @media screen and (max-width:480px) {
                position: relative;
                left: 276px;
            }

            @media screen and (min-width:768px) {
                display: flex;
            }

            @media screen and (min-width:480px) {
                display: flex;
            }

        }

        .mobile__btn {
            border: none;
            background-color: transparent;

            @media screen and (min-width:481px) {
                position: relative;
                left: 276px;
            }
        }

        .mobile__img {
            width: 40px;
            height: 40px;
        }

        .nav__list {
            display: none;
            color: $color-font-title;
            column-gap: 50px;

            @media screen and (min-width:768px) {
                margin-left: 93px;
                display: flex;
            }

        }

        .nav__item {
            display: flex;
            position: relative;
        }

        .nav__link {
            display: none;
            color: $color-dark;
            @include tansition(color);

            @media screen and (min-width:768px) {
                display: flex;
            }
        }

        .nav__link:focus,
        .nav__link:hover {
            color: $color-font-active;
        }

        .nav__link::after {
            content: '';
            position: absolute;
            top: 56px;
            display: block;
            border-radius: 2px;
            width: 100%;
            height: 4px;
            background-color: $color-font-active;
            @include tansition(opacity);
            ;
            opacity: 0;

            @media screen and (min-width:768px) {
                top: 49px;
            }
        }

        .nav__link:hover::after {
            opacity: 1;
        }

        #studio {
            color: $color-font-active;
        }

        #studio::after {
            content: '';
            position: absolute;
            top: 56px;
            display: block;
            border-radius: 2px;
            width: 100%;
            height: 4px;
            background-color: $color-font-active;
            opacity: 1;

            @media screen and (min-width:768px) {
                top: 49px;
            }
        }

        #portfolio {
            color: $color-font-active;
        }

        #portfolio::after {
            content: '';
            position: absolute;
            top: 56px;
            display: block;
            border-radius: 2px;
            width: 100%;
            height: 4px;
            background-color: $color-font-active;
            opacity: 1;

            @media screen and (min-width:768px) {
                top: 49px;
            }
        }


        // КОНТАКТИ


        .contacts__list {
            color: $color-font-text;
            margin-left: auto;
            display: flex;
            column-gap: 50px;

            @media screen and (min-width:768px) {
                flex-wrap: wrap;
                margin-left: 96px;
            }

            @media screen and (min-width:1200px) {
                column-gap: 30px;
                margin-left: 315px;
            }
        }

        .contacts-item {
            display: flex;
        }

        .contacts__link {
            display: none;
            align-items: center;
            color: $color-font-text;
            @include tansition(color);

            @media screen and (min-width:768px) {
                display: flex;
            }
        }

        .contacts__link:focus,
        .contacts__link:hover {
            color: $color-font-active;
        }

        .contacts__icon {
            margin-right: 10px;
            fill: $color-font-text;
        }

        .contacts__link:hover .contacts__icon {
            fill: $color-font-active;
        }
    }
}

// МОБІЛЬНЕ МЕНЮ 

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 40px 48px;
    background-color: $color-light;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    @media screen and (min-width:768px) {
        display: none;
    }
}

.menu-container.is-open {
    transform: translateX(0);
}

// BUTTON 

.menu-toggle {
    position: absolute;
    right: 25px;
    top: 21px;
    border: none;
    background-color: $color-light;
}

.mobile__img {
    fill: $color-font-title;

    @media screen and (min-width:768px) {
        display: none;
    }
}

.mobile__img--color:hover {
    fill: $color-font-active;
}

// НАВІГАЦІЯ


.mobile__list {
    display: flex;
    flex-direction: column;
    column-gap: 32px;
    margin-bottom: 302px;
}

.mobile__link {
    font-family: $font-family;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0.02em;
    color: $color-font-title;
}

.mobile__link:hover {
    color: $color-font-active;
}

#mobile__studio {
    color: $color-font-active;
}

// СПИСОК 1

.mobile__contact-list {
    display: flex;
    flex-direction: column;
    column-gap: 32px;
    margin-bottom: 64px;
}

.mobile__contact-link {
    font-family: $font-family;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: $color-font-text;
}

.mobile__contact-link--color {
    color: $color-font-active;
    font-size: 34px;
}

// СПИСОК 2 

.menu__social-list {
    display: flex;
}

.menu__social-item {
    font-family: $font-family;
    font-weight: 500;
    font-size: 18px;
    line-height: 122%;
    letter-spacing: 0.02em;
    color: $color-font-active;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding: 0 10px;
}

.menu__social-item:last-child {
    border: none;
}

.menu__social-item:first-child {
    padding-left: 0;
}