.header {
    border-bottom: 1px solid $color-border;

    .container__header {
        @extend %flex;
        height: 60px;

        @media screen and (min-width:768px) {
            height: 80px;
        }

        .nav {
            display: none;

            @media screen and (min-width:768px) {
                display: contents;
            }
        }

        .nav__list {
            color: $color-font-title;
            display: flex;
            column-gap: 50px;

            @media screen and (min-width:768px) {
                margin-left: 93px;
            }

        }

        .nav__item {
            display: flex;
            position: relative;
        }

        .nav__link {
            color: $color-dark;
            @include tansition(color);
        }

        .nav__link:focus,
        .nav__link:hover {
            color: $color-font-active;
        }

        .nav__link::after {
            content: '';
            position: absolute;
            top: 56px;
            display: block;
            border-radius: 2px;
            width: 100%;
            height: 4px;
            background-color: $color-font-active;
            @include tansition(opacity);
            ;
            opacity: 0;

            @media screen and (min-width:768px) {
                top: 49px;
            }
        }

        .nav__link:hover::after {
            opacity: 1;
        }

        #studio {
            color: $color-font-active;
        }

        #studio::after {
            content: '';
            position: absolute;
            top: 56px;
            display: block;
            border-radius: 2px;
            width: 100%;
            height: 4px;
            background-color: $color-font-active;
            opacity: 1;

            @media screen and (min-width:768px) {
                top: 49px;
            }
        }

        #portfolio {
            color: $color-font-active;
        }

        #portfolio::after {
            content: '';
            position: absolute;
            top: 56px;
            display: block;
            border-radius: 2px;
            width: 100%;
            height: 4px;
            background-color: $color-font-active;
            opacity: 1;

            @media screen and (min-width:768px) {
                top: 49px;
            }
        }


        // КОНТАКТИ


        .contacts__list {
            color: $color-font-text;
            margin-left: auto;
            display: flex;
            column-gap: 50px;

            @media screen and (min-width:768px) {
                flex-wrap: wrap;
                margin-left: 96px;
            }

            @media screen and (min-width:1200px) {
                column-gap: 30px;
                margin-left: 315px;
            }
        }

        .contacts-item {
            display: flex;
        }

        .contacts__link {
            display: none;
            align-items: center;
            color: $color-font-text;
            @include tansition(color);

            @media screen and (min-width:768px) {
                display: flex;
            }
        }

        .contacts__link:focus,
        .contacts__link:hover {
            color: $color-font-active;
        }

        .contacts__icon {
            margin-right: 10px;
            fill: $color-font-text;
        }

        .contacts__link:hover .contacts__icon {
            fill: $color-font-active;
        }
    }
}