.hero {
    position: relative;
    background-color: $color-background-dark;
    background-image: url(../images/mobil-hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 118px 0;
    max-width: 1600px;
    margin: 0 auto;


    @media screen and (min-width:768px) {
        background-image: url(../images/tablet-hero-bg.jpg);
    }

    @media screen and (min-width:1200px) {
        background-image: url(../images/desktop-background.jpg);
        padding: 200px 0;
    }
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(47, 48, 58, 0.6), rgba(47, 48, 58, 0.6));
    z-index: 1;
}


.hero__title {
    position: relative;
    color: $color-light;
    min-width: 360px;
    margin: 0 auto 30px;
    font-family: $font-family;
    font-weight: 900;
    font-size: 26px;
    line-height: 162%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;


    @media screen and (min-width:1200px) {
        width: 696px;
        font-size: 44px;
    }

}


.hero__button {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 10px 24px;
    border: none;
    border-radius: 4px;
    background-color: $color-font-active;
    color: $color-light;
    font-family: $font-family;
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    z-index: 2;

    animation-name: sausage;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

// @keyframes sausage {

//     0% {
//         background-color: red;
//     }

//     20% {
//         background-color: rgb(255, 123, 0);
//     }

//     50% {
//         background-color: rgb(255, 242, 0);
//         color: black;
//     }

//     60% {
//         background-color: rgb(34, 255, 0);
//         color: black;
//     }

//     70% {
//         background-color: rgb(0, 174, 255);
//         color: black;
//     }

//     80% {
//         background-color: rgb(13, 0, 255);
//     }

//     100% {
//         background-color: rgb(234, 0, 255);
//     }
// }