.section {
    padding: 94px 0;

    .possibilities__title--display {
        display: none;
    }


    .possibilities__list {
        background-color: $color-light;
        display: flex;
        column-gap: 30px;

        .possibilities__item {
            display: flex;
            flex-wrap: wrap;
            flex-basis: calc((100% - 3 * 30px) / 4);
        }

        .possibilities__background {
            width: 270px;
            height: 120px;
            margin-bottom: 30px;
            border-radius: 4px;
            background-color: $color-background-light;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .possibilities__title {
            color: $color-font-title;
            font-family: $font-family;
            font-weight: 700;
        }

        .possibilities__text {
            color: $color-font-text;
            font-family: $font-family;
            font-weight: 700;
        }
    }
}