.section {
    padding: 94px 0;

}

.hww-title {
    display: none;
}


.hww-list {
    background-color: $color-light;
    display: flex;
    column-gap: 30px;
}

.hww-item {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 3 * 30px) / 4);
}

.hww-background {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: $color-background-light;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hww-list-title {
    color: $color-font-title;
    font-family: $font-family;
    font-weight: 700;
}

.hww-text {
    color: $color-font-text;
    font-family: $font-family;
    font-weight: 700;
}