.section.section__team {
    background-color: $color-background-light;


    .team__list {
        display: flex;
        column-gap: 30px;

        .team__item {
            background-color: $color-light;
            border-radius: 0 0 4px 4px;
            display: flex;
            flex-wrap: wrap;
            flex-basis: calc((100% - 3 * 30px) / 4);
            box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        }

        .team__container {
            padding: 30px 32px 30px;
            text-align: center;
        }

        .team__name {
            color: $color-background-dark;
            font-family: $font-family;
            font-weight: 500;
            font-size: 16px;
            margin: 0 auto 10px;
        }

        .team__text {
            color: $color-font-text;
            font-family: $font-family;
            font-weight: 500;
            font-size: 16px;
            margin: 0 auto;
        }



        .buttons__link {
            @extend %flex;
            width: 44px;
            height: 44px;
            border-radius: 50px;
            transition-property: background-color fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        .buttons__link:hover {
            background-color: $color-font-active;
        }

        .buttons__link:hover .buttons__image {
            fill: $color-background-light;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        .buttons__list {
            display: flex;
            flex-wrap: wrap;
            column-gap: 10px;
            margin-top: 16px;
        }

        .buttons__list {
            flex-basis: calc((100% - 3 * 10px) / 4);
        }

        .buttons__image {
            fill: $color-border-rc;
            width: 20px;
            height: 20px;
        }
    }
}