body {
    font-family: $font-family;
    font-weight: 400;
    line-height: 1.71;
    font-size: 14px;
    min-width: 480px;
    margin: 0 auto;

    @media screen and (min-width:768px) {
        min-width: 768px;
    }

    @media screen and (min-width:1200px) {
        min-width: 1200px;
    }

}

// ЛОГО

.logo {
    color: $color-font-active;
    font-family: $second-family;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.03em;

    // @media screen and (min-width:480px) and (max-width:768px) {
    //     margin-left: 50px;
    // }
}

.web {
    color: $color-font-active;
}

.studio {
    color: $color-dark;
}

.footer-studio {
    color: $color-background-light;
}

// ЗАГОЛОВОК

.title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
}